@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');
@font-face {
    font-family: "mcf";
    src: url("fatcat.ttf") format("truetype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#preloader{
    height: 100vh;
    width: 100%;
    background-color: #1774BD;
    animation: fadeaway 2.5s forwards;
    animation-delay: 3.9s;
    position: fixed;
    z-index: 10;
}

@keyframes fadeaway {
    0%{
        opacity: 1;
        z-index: 10;
    }
    100%{
        opacity: 0;
        z-index: -1;
    }
}

#preloader_content{
    height: 100vh;
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#preloader_content img{
    animation: logoanime 5s linear forwards;
    margin-bottom: 2vh;
}

@keyframes logoanime {
    0%{
        scale: 1;
    }
    100%{
        scale: 1.3;
    }
}

#slider{
    width: 18vw;
    height: 1.2vh;
    background: #1774BD;
    border-radius: 10px;
    overflow: hidden;
}

#slider::after{
    content: '';
    width: 100%;
    height: 100%;
    background: #f4f4f4;
    border-radius: 10px;
    display: block;
    animation: slider 5.8s infinite;
}   

@keyframes slider{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

#preloader p{
    font-family: 'mcf', sans-serif;
    font-size: 1vw;
    letter-spacing: 0.15vw;
    color: #fff;
    margin-top: 2vh;
}


/* ----------------------------------------MAIN------------------------------------- */

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-position: center;
    background-size: cover;
}

#main video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    filter: brightness(80%);
}


/* ----------------------------------------NAVBAR------------------------------------- */

nav{
    height: 15vh;
    width: 100%;
    padding: 0vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    animation: navincoming 1600ms forwards;
    animation-delay: 3.9s;
    z-index: 9;
}

@keyframes navincoming {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
    
}

#navleft{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vw;
}

#navleft img{
    height: 4.5vh;
}

#navleft img:hover{
    cursor: pointer;
    scale: 1.5;
    transition: 500ms ease;
}

#logoimage{
    height: 10vh !important;
}

#navmid{
    height: 8vh;
    width: 38vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9ed4fe31;
    border: 1px solid #9ed4fe;
    border-radius: 5vw;
    padding: 1vw 0.8vw;
}

#navmid img{
    height: 2.4vw !important;
}

#navmid img:hover{
    cursor: pointer;
}

#nav_menu{
    padding: 0vw 1vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    font-family: 'Finger Paint', sans-serif;
    font-size: 0.9vw;
    color: #f4f4f4;
    border: 1px solid #9ed4fe;
    border-top:none ;
    border-bottom:none ;
}

#nav_menu p:hover{
    cursor: pointer;
    scale: 1.1;
    color: #f4f4f4d6;
    transition: 100ms linear ;
}

nav button{
    height: 5vh;
    background-color: #9ed4fe74;
    border: 1px solid #9ED5FE;
    color: #f4f4f4;
    padding: 0.5vw 1vw;
    border-radius: 5vw;
    font-family: "Finger Paint" , sans-serif;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

nav button:hover{
    cursor: pointer;
}

#playbtn{
    position: absolute;
    top: 90vh;
    right: 2vw;
}

#scrollerbtn{
    position: absolute;
    top: 88vh;
    right: 50%;
    transform: translateX(50%);
}

#scrollerbtn:hover{
    cursor: pointer;
}

#scrollerbtn img{
    height: 9vh;
}

/* ----------------------------------------absolute_wala_div------------------------------------- */

#absolute_wala_div{
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.written_material{
    height: 100vh;
    width: 100%;
    position: relative;
    scroll-snap-align: start;
}

#absoluite_wala_div::-webkit-scrollbar {
    display: none;
}
#absoluite_wala_div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

.written_material img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.written_material h1{
    font-family: 'mcf', sans-serif;
    font-size: 3.5vw;
    color: #f4f4f4;
    text-transform: uppercase;
    line-height: 1;
    position: absolute;
}

.written_material p{
    position: absolute;
    color: #FDF5DE;
    font-family: 'Finger Paint', sans-serif;
    font-size: 1.1vw;
}


#page2 h1{
    bottom: 5vw;
    right: 8vw;
}

#page3 h1{
    bottom: 6vw;
    left: 4vw;
}

#page3 p{
    font-size: 1.1vw;
    bottom: 2vw;
    left: 4vw;
}

#page4 h1{
    font-size: 4vw;
    bottom: 4vw;
    right: 5vw;
}

#page5 h1{
    bottom: 6vw;
    left: 4vw;
}

#page5 p{
    font-size: 1.1vw;
    bottom: 2vw;
    left: 4vw;
}

#page6 h1{
    bottom: 6vw;
    left: 4vw;
}

#page7 h1{
    bottom: 10vw;
    left: 34vw;
}










